attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==50.0.1
Cython==3.3.0
dl==0.1.0
docutils==0.23
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.9
Jinja2==3.1.6
jnius==1.1.0
joblib==1.5.3
keyring==25.7.0
lockfile==0.12.2
mediapipe==0.10.21
mock==5.2.0
numpy==2.5.3
opencv_contrib_python==4.11.0.86
opencv_python==4.13.0.92
pandas==3.0.5
Pillow==12.3.0
protobuf==7.36.1
pyOpenSSL==26.4.0
pyserial==3.5
pywin32==312
railroad==0.5.0
scikit_learn==1.9.0
Sphinx==9.1.0
thread==2.0.6
tornado==6.5.8
trove_classifiers==2026.6.1.19
truststore==0.10.4
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
